*{
	padding: 0;
	margin: 0;
	font-family: "Helvetica", sans-serif;
	font-weight: 100;
	box-sizing: border-box;
}
header{
	width: 100%;
	text-align: center;
	color: white;
	height: 150px;
	padding: 50px 0px;
}
.column{
	float:left;
	font-weight: 100;
	padding: 30px;
	font-size: 14px;
	color: #7d7d7d;
}

/*Below are a few examples of different way I've applied the @media tag to make the page responsive, it also removes the header when viewed on other media types
than a computer. This is done due to the header being a solid color to help the user only print what they want, the content, and reduce the ink used.
I wanted to show how I could apply responsiveness to a page, it isn't the most beautiful looking thing, but I'm trying to prove functionality

Here I am using an overlapping style to accomplish responsiveness, it's not too complex, but I wanted to showcase that I can implement it.*/

@media (min-width:0px){
	.column{
		width:100%;
		color:red;
	}
	header{
		background-color: green;
	}
}

@media (min-width:500px){
	.column{
	  /*width:100%;*/		
		color:blue;
	}
	header{
		/*background-color: green;*/
		color:blue;
	}
}

@media (min-width:600px){
	.column{
		width:50%;
		/*color:blue;*/
	}
	header{
		background-color: #009bc7;
		/*color:blue;*/
	}
}

@media not screen{
	header{
		display: none;
	}
}